body {
    font-family: 'Oswald', sans-serif;
    background-color: #f7f9fc;
    /* Light grayish-blue background */
    margin: 0;

    padding: 0;
}

a {
    text-decoration: none;
    /* Removes the underline */
    color: inherit;
    /* The link color will be the same as the text color it's within */
}

/* If you want to specify a different color for links */
a {
    text-decoration: none;
    /* Removes the underline */
    color: #000000;
    /* Replace with your desired color, here it's set to black */
}


body {
    background-color: #181A18;
    color: white;
    text-align: center;
}



body:before {
    background: none;
}


.photo {
    flex: 1 0 calc(25% - 16px);
    /* Four photos per row with a gap of 16px */
    margin-bottom: 16px;
    overflow: hidden;
    border-radius: 8px;

    max-width: 23%;
    /* Set the max width for photos to 23% to account for the gap and keep 4 photos in a row */
    transition: transform 0.3s ease-in-out;
    max-width: 20%;
}

.photo img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    box-shadow: black 10px 5px 10px;
}

.photo:hover {
    transform: scale(1.8);
    /* Use the transform property to scale the element */
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    /* Adjusts photos to take the available space */
    margin: 50px auto;
    max-width: 1200px;
    padding: 20px;
    background-color: #c0c0c0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #282b28;

}

.portfolio img {
    max-width: 100%;
    height: auto;
    margin: 10px 10px;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181A18;
    /* Primary blue color for header */
    color: #ffffff;
    /* White text color for header */
    /* padding: 10px 20px; */
    margin-bottom: 10px;
    width: 100%; /* Ensure it takes the full width */
    margin: 0 auto; /* Auto margin for horizontal centering */

}


header h1,
header h2,
.about-section h1,
nav .active {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    color: white;
}

/* ... unchanged styles ... */
.form-header {
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
    margin: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: Oswald;
}

input[type="text"],
input[type="email"],
textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    min-height: 150px;
    resize: vertical;
}

button {
    padding: 10px 15px;
    background-color: #8b8b8b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: Oswald;
}

button:hover {
    background-color: #7c7c7c;
}

nav {
    display: flex;
    align-items: center;
    
}

nav a {
    margin-left: 0px;
    margin-right: 5px;
    text-decoration: none;
    color: #ffffff;
    /* White text color for nav links */
    font-family: 'Oswald', sans-serif;
    transition: 0.3s ease;
    font-size: 20px;
    
    

}

nav a:hover {
    color: #1a456a;
    /* Darker blue on hover */

}

button {
    padding: 10px 15px;
    background-color: #2a6fbb;
    /* Primary blue color for buttons */
    color: #ffffff;
    /* White text color for buttons */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1a456a;
    /* Darker blue on hover */
}

.about-section {
    text-align: center;
    padding: 50px 0;
    margin: 10px;
    font-size: large;
}

.profile-pic {
    width: 200px;
    border-radius: 30%;
    margin-bottom: 20px;
}

.about-section h1 {
    margin: 20px 0;
}

.about-section p {
    text-align: left;
    margin-bottom: 20px;
    color: white;
    font-family: Oswald;
}

.footer {
    text-align: center;
}

.instagram-icon {
    height: 30px;
    width: auto;
}

/** Dad updates 1-9-24 **/
header {
    flex-direction: column;
    padding-top: 30px
}

.name {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center
}

.name span {
    font-size: .7em;
    display: block
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav-item {
    margin: 15px 10px;  /* Adds some space between the items */
}



.photo img {
    cursor: pointer
}

.photo img:hover {
    transform: scale(1.05)
}

ul{
    display: flex;
    flex-direction: row;
}
